<h1>Créez votre profil</h1>
<p>
Devenez membre exclusif du club THP:
<form action ="/" method = "post">
<input type="text" name="username">
<input type="submit" name="Send">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
<br>
Décrivez-nous votre parcours:
<br>
<textarea rows="4" cols="50">


</textarea>
</p>
